doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/utf8.js')
    script(src='javascripts/stringToTimeFormat.js')
  body
    block content
